<footer id="footer" class="footer bg-footer position-relative ">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-8 col-md-6 footer-about">
                <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
                    <img src="{{ url_for('static', filename='assets/img/logo_white.png') }}" alt="Logo">
                    <h1 class="sitename-footer text-gradient-green">FossilTrack</h1>
                </a>

                <p class="mt-3" style="color: #ddd; line-height: 1.6;">
                FossilTrack merupakan sebuah website yang digunakan untuk memprediksi konsumsi energi fosil di Indonesia,
                guna mendukung upaya menuju target <em>Net Zero Emission</em> tahun 2060.
                Platform ini membantu dalam analisis data dan perencanaan strategi energi berkelanjutan.
                </p>

            </div>

            <div class="col-lg-4 col-md-3 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#grafik">Grafik</a></li>
                    <li><a href="#simulasi">Simulasi Prediksi</a></li>
                    <li><a href="#data">Data Historis</a></li>
                    <li><a href="#metode">Metode Analisis</a></li>
                   
                </ul>
            </div>



        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">FossilTrack</strong> <span>All Rights Reserved</span>
        </p>
    </div>

</footer>