<header id="header" class="header d-flex align-items-center sticky-top">
    <div
        class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
            <img src="{{ url_for('static', filename='assets/img/logo_web.png') }}" alt="FossilTrack"
                style="height: 30px; margin-right: 10px;">
            <h1 class="sitename">FossilTrack</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">Home</a></li>
                <li><a href="#tentang">Tentang</a></li>
                <li><a href="#data">Data</a></li>
                <li><a href="#metode">Metode</a></li>
                <li><a href="#grafik">Grafik</a></li>
                <li><a href="#simulasi">Simulasi</a></li>
                <li class="d-xl-none"><a href="/login" class="mobile-login-link">Login</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-login d-none d-xl-block" href="/auth/login" data-aos="fade-in">Login</a>

    </div>
</header>