<header id="header" class="header d-flex align-items-center" data-aos="fade-up" data-aos-delay="100">
    <div
        class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <img src="{{ url_for('static', filename='assets/img/logo_white.png') }}" alt="Logo">
            <h1 class="sitename text-gradient-green">FossilTrack</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a class="nav-link {% if current_page=='home' %}active{% endif %}"
                        href="{{ url_for('home') }}">Dashboard</a></li>
                <li><a class="nav-link {% if current_page=='metode' %}active{% endif %}" href="">Metode</a></li>
                <li><a class="nav-link {% if current_page=='data_historis' %}active{% endif %}" href="">Data
                        Historis</a></li>
                <li><a class="nav-link {% if current_page=='prediksi' %}active{% endif %}" href="">Prediksi</a></li>
                <li><a class="nav-link {% if current_page=='tentang' %}active{% endif %}"
                        href="">Tentang</a></li>
                <li class="d-xl-none mt-3">
                    <a href="/admin/login" class="btn-login w-100 text-center">Login</a>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <!-- ✅ Tombol login versi desktop -->
        <a class="btn-login d-none d-xl-inline-block" href="#">Login</a>

    </div>
</header>